### In this project, we would try to explore regression analysis and make predictions on used car prices using ensemble of regressors. I also hope that I can upload the model as a web app for other people to play around with.

**Citations:**

URL: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

---

The following description is from Kaggle:

**Context**

Craigslist is the world's largest collection of used vehicles for sale, yet it's very difficult to collect all of them in the same place. I built a scraper for a school project and expanded upon it later to create this dataset which includes every used vehicle entry within the United States on Craigslist.

**Content**

This data is scraped every few months, it contains most all relevant information that Craigslist provides on car sales including columns like price, condition, manufacturer, latitude/longitude, and 18 other categories. For ML projects, consider feature engineering on location columns such as long/lat. For previous listings, check older versions of the dataset.

See https://github.com/AustinReese1998/craigslistFilter

In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [56]:
pd.set_option('display.max_columns', None)

In [57]:
#data import
df = pd.read_csv('Data/vehicles.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,gas,90186.0,clean,automatic,19UUA8F22CA003926,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,gas,115120.0,clean,automatic,NaN,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,gas,85000.0,clean,automatic,NaN,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,gas,212526.0,clean,automatic,5J6YH18314L006498,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,gas,NaN,clean,automatic,1GC1KWE85GF266427,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458

It seems the data has some NULL values for some columns, let's view the info for df

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            539759 non-null  int64
 1   url           539759 non-null  object
 2   region        539759 non-null  object
 3   region_url    539759 non-null  object
 4   price         539759 non-null  int64
 5   year          538772 non-null  float64
 6   manufacturer  516175 non-null  object
 7   model         531746 non-null  object
 8   condition     303707 non-null  object
 9   cylinders     321264 non-null  object
 10  fuel          536366 non-null  object
 11  odometer      440783 non-null  float64
 12  title_status  536819 non-null  object
 13  transmission  535786 non-null  object
 14  vin           315349 non-null  object
 15  drive         383987 non-null  object
 16  size          168550 non-null  object
 17  type          392290 non-null  object
 18  paint_color   365520 non-null  object
 19  image_url     539740 non-null  object
 20  description   539738 non-null  object
 21  county        0 non-null       float64
 22  state         539759 non-null  object
 23  lat           530785 non-null  float64
 24  long          530785 non-null  float64
dtypes: float64(5), int64(2), object(18)
memory usage: 103.0+ MB

#### We would start by dropping some of the columns. For example, columns that contain too many NULL values to be useful or columns that are hard to make use of for this analysis

In [59]:
#columns contain too many NULL values
df.drop(['condition','cylinders', 'vin', 'drive', 'size', 'type', 'paint_color', 'county'], axis = 1, inplace = True)
#columns that are hard to make use of
df.drop(['id', 'url', 'region', 'region_url', 'image_url', 'description', 'lat', 'long'], axis = 1, inplace = True)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         539759 non-null  int64
 1   year          538772 non-null  float64
 2   manufacturer  516175 non-null  object
 3   model         531746 non-null  object
 4   fuel          536366 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  536819 non-null  object
 7   transmission  535786 non-null  object
 8   state         539759 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 37.1+ MB

#### We still have some NULL values in some of the columns left - note that column "odometer" still contains many NULL values, because I think it is an important factor in predicting used car prices, and because we have enough number of examples to work with, we would drop the rows where "odometer" is NULL.

In [61]:
df.drop(df.index[df['odometer'].isna()], inplace = True)
df.reset_index(drop = True, inplace = True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440783 entries, 0 to 440782
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         440783 non-null  int64
 1   year          439815 non-null  float64
 2   manufacturer  425660 non-null  object
 3   model         436331 non-null  object
 4   fuel          437477 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  437924 non-null  object
 7   transmission  437038 non-null  object
 8   state         440783 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.3+ MB

#### Now we still have some missing values but they are a small percentage of the overall number of records. We can impute the missing values from existing data.

In [63]:
#for categorical variables, we would impute missing values based on existing class distribution by random sampling with replacement
def CategoricalImputer(df, column_names):
    for column in column_names:
        replacements = np.random.choice(a = df[column][df[column].notna()], size = df[column].isna().sum(), replace = True)
        replacements = pd.Series(replacements, index = df.index[df[column].isna()])
        df[column].fillna(replacements, inplace = True)

In [64]:
CategoricalImputer(df, ['year', 'manufacturer', 'model', 'fuel', 'title_status', 'transmission'])

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440783 entries, 0 to 440782
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         440783 non-null  int64
 1   year          440783 non-null  float64
 2   manufacturer  440783 non-null  object
 3   model         440783 non-null  object
 4   fuel          440783 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  440783 non-null  object
 7   transmission  440783 non-null  object
 8   state         440783 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.3+ MB

#### Great, we do not have NULL values anymore, now we would like to perform some data validity checking

In [66]:
print(f"The max price of a used car is {df['price'].max()}, the min price of a used car is {df['price'].min()}.")

The max price of a used car is 4198286601, the min price of a used car is 0.

In [67]:
#The above does not make lots of sense, so we would like to only keep the used cars with prices between 1000 and 200000
drop_idx = df.index[(df['price'] < 1000) | (df['price'] > 200000)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

In [68]:
print(f"The max price of a used car is {df['price'].max()}, the min price of a used car is {df['price'].min()}.")

The max price of a used car is 200000, the min price of a used car is 1000.

In [69]:
df['year'].value_counts()

2017.0    32516
2016.0    30977
2015.0    30266
2013.0    29285
2014.0    28790
          ...
1928.0        2
1942.0        2
1922.0        1
1914.0        1
0.0           1
Name: year, Length: 101, dtype: int64

In [70]:
#We would only be interested in used cars with year between 2000 and 2019. 
#If a used car is too old, we are not intersted and also they have fewer instances to be trained thus prediction accuracy is questionable.
#The dataset is from Jan 2020 so we would only include models up until year 2019 
#(year 2020 model should be out already but again, there are few instances or even bad data as there are some used cars have model year 2021)
drop_idx = df.index[(df['year'] < 2000) | (df['year'] > 2019)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

In [71]:
#top 5 rows
df['year'].value_counts().head()

2017.0    32516
2016.0    30977
2015.0    30266
2013.0    29285
2014.0    28790
Name: year, dtype: int64

In [72]:
df['manufacturer'].value_counts()

ford               70481
chevrolet          55097
toyota             30341
nissan             21614
ram                19648
honda              19641
jeep               18624
gmc                17489
dodge              12968
bmw                11489
hyundai             9739
subaru              9580
mercedes-benz       8793
volkswagen          8460
kia                 7508
chrysler            6337
cadillac            5819
buick               5464
lexus               5052
audi                4915
mazda               4808
infiniti            3291
acura               3112
lincoln             2486
volvo               2472
pontiac             2217
mini                2037
mitsubishi          1940
rover               1605
saturn              1198
mercury             1173
jaguar               803
fiat                 788
tesla                204
harley-davidson      164
alfa-romeo            43
ferrari               35
aston-martin          27
land rover            15
porche                 7
datsun                 3
hennessey              1
Name: manufacturer, dtype: int64

In [73]:
#Manufacturer data looks good but for the same reasons as above, we would like to drop instances where count < 1000
counts = df['manufacturer'].value_counts()
values_to_drop = counts.index[counts < 1000]
drop_idx = df.index[df['manufacturer'].isin(values_to_drop)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

#### The next column: "model" is a hard one to deal with. If we look at its value_counts...

In [74]:
df['model'].value_counts()

f-150                      8144
silverado 1500             5245
1500                       4680
silverado                  3530
wrangler                   2787
                           ...
golf sportwagon sel tdi       1
e-350 12 passenger            1
charger sxt 4dr sedan         1
CHEVEROLET CORVETTE           1
explorer sport ecoboost       1
Name: model, Length: 25513, dtype: int64

#### Noticed the issue here? Because this "model" field might be a free text field, seller can put different variations of the same car model. For example, "silverado 1500", "1500" and "silverado" most likely represent the same car model. If we put the values directly into training algorithms, they would be treated as different car models, which could impact our model performance. To mitigate this issue, we would take the following steps:
1. Strip out the words of individual car model for each record
2. Find out the top 150 words based on frequency with weights assigned based on word sequence in a record
    (ex. "silverado 1500" - "silverado" would have more weights than "1500" because the further the word is to the front, the more likely the word represents the actual car model)
3. Go through the 150 words, clean them up and end up with the most common derived "car models"
4. Map records to the most common derived "car models" and mark "N/A" if cannot be mapped

In [75]:
#First we would like to turn all models to lower case for matching later
df['model'] = df['model'].str.lower()

In [76]:
weighted_words = []
for item in df['model']:
    #split into words
    words = item.split()
    #find number of words in list and assign weights
    for word, weight in zip(words, (np.arange(len(words)) + 1)[::-1]):
        weighted_words += [word] * weight

In [77]:
#Find "top models"
top_models = pd.Series(weighted_words).value_counts().head(150)

In [78]:
#Now we would go through all the "top models" and clean the Series up
pd.set_option('display.max_rows', None)
top_models

1500           45085
silverado      43479
sport          28962
cab            27790
sierra         23748
super          22787
f150           22284
crew           21937
grand          21101
4x4            19397
2500           16747
f-150          15405
se             14378
lt             14373
duty           13851
sedan          13594
wrangler       13168
4d             10899
tacoma         10725
xlt            10343
f-250          10275
escape         10133
cherokee        9866
awd             9726
coupe           9682
s               9494
civic           9441
f250            9338
tundra          9200
limited         9111
f-350           9078
utility         8911
accord          8832
mustang         8763
3500            8402
supercrew       7960
slt             7870
equinox         7833
rogue           7480
altima          7457
camry           7433
lx              7097
focus           7024
4dr             6858
explorer        6518
fusion          6401
2500hd          6220
camaro          6189
town            6129
express         6046
yukon           6003
f350            5988
4wd             5913
premium         5645
sv              5554
series          5478
corolla         5438
frontier        5363
ls              5279
malibu          5238
cruze           5231
jetta           5228
edge            4990
benz            4911
outback         4898
tahoe           4850
double          4839
gas             4800
xl              4710
unlimited       4584
ex              4495
2d              4409
caravan         4376
lariat          4351
impala          4349
elantra         4327
pickup          4252
sentra          4187
cr-v            4155
3               4152
sonata          4116
santa           4063
transit         4040
cargo           3998
rav4            3901
gt              3899
le              3887
forester        3770
sel             3752
cooper          3658
colorado        3651
journey         3610
hd              3559
challenger      3513
odyssey         3494
suburban        3446
sr5             3446
4runner         3402
porsche         3400
terrain         3344
sorento         3326
prius           3316
titan           3311
ltz             3200
passat          3182
expedition      3171
convertible     3162
impreza         3146
350             3115
encore          3086
touring         3081
traverse        3079
fwd             3052
laramie         3029
acadia          3029
hatchback       3016
ex-l            3005
sienna          2993
pilot           2946
sle             2910
lifted          2881
versa           2773
sxt             2773
quad            2737
highlander      2701
van             2695
scion           2674
2.5             2674
fe              2668
diesel          2647
optima          2629
300             2593
x5              2590
ranger          2587
charger         2579
sl              2566
taurus          2541
tucson          2510
escalade        2509
compass         2476
mx-5            2444
rx              2431
liberty         2404
2.0t            2402
denali          2398
murano          2373
4               2371
2.5i            2362
patriot         2347
legacy          2316
dtype: int64

In [79]:
top_models.drop(['sport', 'cab', 'super', '4x4', 'se', 'lt', 'sedan', 'duty', '4d', 'xlt', 
                'coupe', 'awd', 's', 'limited', 'utility', 'slt', 'lx', '4dr', '4wd', 
                'premium', 'sv', 'series', 'ls', 'double', 'gas', 'xl', 'unlimited', 'ex',
                '2d', 'pickup', '3', 'le', 'sel', 'gt', 'hd', 'ltz', 'fwd', 'ex-l', 'sle',
                 'lifted','sxt', '2.5', 'fe', '300', 'quad', 'diesel', 'sl', 'van', 'rx', '4', '2.0t', '2.5i'], inplace = True)

In [80]:
pd.reset_option('display.max_rows')

In [81]:
top_models = pd.Series(top_models.index)

In [82]:
top_models

0          1500
1     silverado
2        sierra
3          f150
4          crew
        ...
93      liberty
94       denali
95       murano
96      patriot
97       legacy
Length: 98, dtype: object

In [83]:
#The list might not be perfect but it is as good as we can get, now finally we would like to map every record to one of the top_models
#First, we would like to assign "N/A" to records that do not have words in top_models
df.loc[~df['model'].str.contains('|'.join(top_models)), ['model']] = 'N/A'

In [84]:
#map to top_models
from tqdm import tqdm
for item in tqdm(top_models):
    df['model'] = df['model'].apply(lambda x: item if item in x else x)

100%|██████████| 98/98 [00:05<00:00, 19.10it/s]

In [85]:
print(f"We successfuly mapped {(df['model'] != 'N/A').sum()} car models out of total of {len(df)} records, which is pretty good.")

We successfuly mapped 269633 car models out of total of 375398 records, which is pretty good.

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375398 entries, 0 to 375397
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         375398 non-null  int64
 1   year          375398 non-null  float64
 2   manufacturer  375398 non-null  object
 3   model         375398 non-null  object
 4   fuel          375398 non-null  object
 5   odometer      375398 non-null  float64
 6   title_status  375398 non-null  object
 7   transmission  375398 non-null  object
 8   state         375398 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 25.8+ MB

#### If we look at odometer values ranges, it also contains invalid values.

In [87]:
print(f"The odometer ranges from {df['odometer'].min()} to {df['odometer'].max()}.")

The odometer ranges from 0.0 to 64809218.0.

#### Odometer values between 10 and 250000 miles would be a reasonable range. We would drop odometer values < 10 and > 250000

In [88]:
df.drop(df.index[(df['odometer'] < 10) | (df['odometer'] > 250000)], inplace = True)
df.reset_index(drop = True, inplace = True)

In [89]:
print(f"The odometer now ranges from {df['odometer'].min()} to {df['odometer'].max()}.")

The odometer now ranges from 10.0 to 250000.0.

#### title_status:

In [90]:
df['title_status'].value_counts()

clean         352851
rebuilt         9607
salvage         3705
lien            2402
missing           69
parts only        34
Name: title_status, dtype: int64

In [99]:
#We would like to drop "missing" and "parts only" cause these two title types contains too few entries to be useful
df.drop(df.index[df['title_status'].isin(['missing', 'parts only'])], inplace = True)
df.reset_index(drop = True, inplace = True)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368565 entries, 0 to 368564
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         368565 non-null  int64
 1   year          368565 non-null  float64
 2   manufacturer  368565 non-null  object
 3   model         368565 non-null  object
 4   fuel          368565 non-null  object
 5   odometer      368565 non-null  float64
 6   title_status  368565 non-null  object
 7   transmission  368565 non-null  object
 8   state         368565 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 25.3+ MB

In [101]:
df['title_status'].value_counts()

clean      352851
rebuilt      9607
salvage      3705
lien         2402
Name: title_status, dtype: int64

In [102]:
df['transmission'].value_counts()

automatic    330931
other         20258
manual        17376
Name: transmission, dtype: int64