### In this project, we would try to explore regression analysis and make predictions on used car prices using ensemble of regressors. I also hope that I can upload the model as a web app for other people to play around with.

**Citations:**

URL: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

---

The following description is from Kaggle:

**Context**

Craigslist is the world's largest collection of used vehicles for sale, yet it's very difficult to collect all of them in the same place. I built a scraper for a school project and expanded upon it later to create this dataset which includes every used vehicle entry within the United States on Craigslist.

**Content**

This data is scraped every few months, it contains most all relevant information that Craigslist provides on car sales including columns like price, condition, manufacturer, latitude/longitude, and 18 other categories. For ML projects, consider feature engineering on location columns such as long/lat. For previous listings, check older versions of the dataset.

See https://github.com/AustinReese1998/craigslistFilter

In [82]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [83]:
pd.set_option('display.max_columns', None)

In [84]:
#data import
df = pd.read_csv('Data/vehicles.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,gas,90186.0,clean,automatic,19UUA8F22CA003926,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,gas,115120.0,clean,automatic,NaN,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,gas,85000.0,clean,automatic,NaN,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,gas,212526.0,clean,automatic,5J6YH18314L006498,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,gas,NaN,clean,automatic,1GC1KWE85GF266427,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458

It seems the data has some NULL values for some columns, let's view the info for df

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            539759 non-null  int64
 1   url           539759 non-null  object
 2   region        539759 non-null  object
 3   region_url    539759 non-null  object
 4   price         539759 non-null  int64
 5   year          538772 non-null  float64
 6   manufacturer  516175 non-null  object
 7   model         531746 non-null  object
 8   condition     303707 non-null  object
 9   cylinders     321264 non-null  object
 10  fuel          536366 non-null  object
 11  odometer      440783 non-null  float64
 12  title_status  536819 non-null  object
 13  transmission  535786 non-null  object
 14  vin           315349 non-null  object
 15  drive         383987 non-null  object
 16  size          168550 non-null  object
 17  type          392290 non-null  object
 18  paint_color   365520 non-null  object
 19  image_url     539740 non-null  object
 20  description   539738 non-null  object
 21  county        0 non-null       float64
 22  state         539759 non-null  object
 23  lat           530785 non-null  float64
 24  long          530785 non-null  float64
dtypes: float64(5), int64(2), object(18)
memory usage: 103.0+ MB

#### We would start by dropping some of the columns. For example, columns that contain too many NULL values to be useful or columns that are hard to make use of for this analysis

In [86]:
#columns contain too many NULL values
df.drop(['condition','cylinders', 'vin', 'drive', 'size', 'type', 'paint_color', 'county'], axis = 1, inplace = True)
#columns that are hard to make use of
df.drop(['id', 'url', 'region', 'region_url', 'image_url', 'description', 'lat', 'long'], axis = 1, inplace = True)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         539759 non-null  int64
 1   year          538772 non-null  float64
 2   manufacturer  516175 non-null  object
 3   model         531746 non-null  object
 4   fuel          536366 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  536819 non-null  object
 7   transmission  535786 non-null  object
 8   state         539759 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 37.1+ MB

#### We still have some NULL values in some of the columns left - note that column "odometer" still contains many NULL values, because I think it is an important factor in predicting used car prices, and because we have enough number of examples to work with, we would drop the rows where "odometer" is NULL.

In [88]:
df.drop(df.index[df['odometer'].isna()], inplace = True)
df.reset_index(drop = True, inplace = True)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440783 entries, 0 to 440782
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         440783 non-null  int64
 1   year          439815 non-null  float64
 2   manufacturer  425660 non-null  object
 3   model         436331 non-null  object
 4   fuel          437477 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  437924 non-null  object
 7   transmission  437038 non-null  object
 8   state         440783 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.3+ MB

#### Now we still have some missing values but they are a small percentage of the overall number of records. We can impute the missing values from existing data.

In [90]:
#for categorical variables, we would impute missing values based on existing class distribution by random sampling with replacement
def CategoricalImputer(df, column_names):
    for column in column_names:
        replacements = np.random.choice(a = df[column][df[column].notna()], size = df[column].isna().sum(), replace = True)
        replacements = pd.Series(replacements, index = df.index[df[column].isna()])
        df[column].fillna(replacements, inplace = True)

In [91]:
CategoricalImputer(df, ['year', 'manufacturer', 'model', 'fuel', 'title_status', 'transmission'])

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440783 entries, 0 to 440782
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         440783 non-null  int64
 1   year          440783 non-null  float64
 2   manufacturer  440783 non-null  object
 3   model         440783 non-null  object
 4   fuel          440783 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  440783 non-null  object
 7   transmission  440783 non-null  object
 8   state         440783 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.3+ MB

#### Great, we do not have NULL values anymore, now we would like to perform some data validity checking

In [93]:
print(f"The max price of a used car is {df['price'].max()}, the min price of a used car is {df['price'].min()}.")

The max price of a used car is 4198286601, the min price of a used car is 0.

In [94]:
#The above does not make lots of sense, so we would like to only keep the used cars with prices between 1000 and 200000
drop_idx = df.index[(df['price'] < 1000) | (df['price'] > 200000)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

In [95]:
print(f"The max price of a used car is {df['price'].max()}, the min price of a used car is {df['price'].min()}.")

The max price of a used car is 200000, the min price of a used car is 1000.

In [96]:
df['year'].value_counts()

2017.0    32525
2016.0    30987
2015.0    30289
2013.0    29280
2014.0    28769
          ...
1928.0        2
1942.0        2
1922.0        1
1914.0        1
0.0           1
Name: year, Length: 101, dtype: int64

In [97]:
#We would only be interested in used cars with year between 2000 and 2019. 
#If a used car is too old, we are not intersted and also they have fewer instances to be trained thus prediction accuracy is questionable.
#The dataset is from Jan 2020 so we would only include models up until year 2019 
#(year 2020 model should be out already but again, there are few instances or even bad data as there are some used cars have model year 2021)
drop_idx = df.index[(df['year'] < 2000) | (df['year'] > 2019)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

In [98]:
#top 5 rows
df['year'].value_counts().head()

2017.0    32525
2016.0    30987
2015.0    30289
2013.0    29280
2014.0    28769
Name: year, dtype: int64

In [99]:
df['manufacturer'].value_counts()

ford               70432
chevrolet          55140
toyota             30388
nissan             21649
ram                19680
honda              19648
jeep               18608
gmc                17445
dodge              12922
bmw                11509
hyundai             9783
subaru              9551
mercedes-benz       8826
volkswagen          8439
kia                 7504
chrysler            6323
cadillac            5831
buick               5471
lexus               5054
audi                4893
mazda               4758
infiniti            3306
acura               3111
lincoln             2497
volvo               2470
pontiac             2226
mini                2056
mitsubishi          1923
rover               1601
saturn              1197
mercury             1175
jaguar               805
fiat                 785
tesla                198
harley-davidson      163
alfa-romeo            42
ferrari               35
aston-martin          26
land rover            15
porche                 7
hennessey              1
Name: manufacturer, dtype: int64

In [100]:
#Manufacturer data looks good but for the same reasons as above, we would like to drop instances where count < 1000
counts = df['manufacturer'].value_counts()
values_to_drop = counts.index[counts < 1000]
drop_idx = df.index[df['manufacturer'].isin(values_to_drop)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

#### The next column: "model" is a hard one to deal with. If we look at its value_counts...

In [119]:
df['model'].value_counts()

f-150                              8151
silverado 1500                     5249
1500                               4680
silverado                          3540
wrangler                           2780
                                   ...
f-350 crew cab four wheel drive       1
ecosport ses automatic                1
yukon awd 4dr 1500 denali             1
limited                               1
NISSAN/ARMADA                         1
Name: model, Length: 25499, dtype: int64

#### Noticed the issue here? Because this "model" field might be a free text field, seller can put different variations of the same car model. For example, "silverado 1500", "1500" and "silverado" most likely represent the same car model. If we put the values directly into training algorithms, they would be treated as different car models, which could impact our model performance. To mitigate this issue, we would take the following steps:
1. Strip out the words of individual car model for each record
2. Find out the top 110 words based on frequency with weights assigned based on word sequence in a record
    (ex. "silverado 1500" - "silverado" would have more weights than "1500" because the further the word is to the front, the more likely the word represents the actual car model)
3. Go through the 110 words, clean them up and end up with the most common derived "car models"
4. Map records to the most common derived "car models" and if a record cannot be mapped, drop the record.