### In this project, we would explore regression analysis and make predictions on used car prices using an ensemble of regressors. After that, we would build a web app for user interactions and live predictions.
---
#### This is PART I of the project where we solely focus on data pre-processing

#### Highlights of this part:
1.  **Thought Processes** on data pre-processing
2.  Text manipulations

**Citations:**

This dataset is from Kaggle - Used Cars Dataset

URL: https://www.kaggle.com/austinreese/craigslist-carstrucks-data

---

The following description is from Kaggle:

**Context**

Craigslist is the world's largest collection of used vehicles for sale, yet it's very difficult to collect all of them in the same place. I built a scraper for a school project and expanded upon it later to create this dataset which includes every used vehicle entry within the United States on Craigslist.

**Content**

This data is scraped every few months, it contains most all relevant information that Craigslist provides on car sales including columns like price, condition, manufacturer, latitude/longitude, and 18 other categories. For ML projects, consider feature engineering on location columns such as long/lat. For previous listings, check older versions of the dataset.

See https://github.com/AustinReese1998/craigslistFilter

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('Data/vehicles.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,vin,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7088746062,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,10299,2012.0,acura,tl,NaN,NaN,gas,90186.0,clean,automatic,19UUA8F22CA003926,NaN,NaN,other,blue,https://images.craigslist.org/01414_3LIXs9EO33...,2012 Acura TL Base 4dr Sedan Offered by: B...,NaN,nc,35.7636,-78.7443
1,7088745301,https://greensboro.craigslist.org/ctd/d/bmw-3-...,greensboro,https://greensboro.craigslist.org,0,2011.0,bmw,335,NaN,6 cylinders,gas,115120.0,clean,automatic,NaN,rwd,NaN,convertible,blue,https://images.craigslist.org/00S0S_1kTatLGLxB...,BMW 3 Series 335i Convertible Navigation Dakot...,NaN,nc,NaN,NaN
2,7088744126,https://greensboro.craigslist.org/cto/d/greens...,greensboro,https://greensboro.craigslist.org,9500,2011.0,jaguar,xf,excellent,NaN,gas,85000.0,clean,automatic,NaN,NaN,NaN,NaN,blue,https://images.craigslist.org/00505_f22HGItCRp...,2011 jaguar XF premium - estate sale. Retired ...,NaN,nc,36.1032,-79.8794
3,7088743681,https://greensboro.craigslist.org/ctd/d/cary-2...,greensboro,https://greensboro.craigslist.org,3995,2004.0,honda,element,NaN,NaN,gas,212526.0,clean,automatic,5J6YH18314L006498,fwd,NaN,SUV,orange,https://images.craigslist.org/00E0E_eAUnhFF86M...,2004 Honda Element LX 4dr SUV Offered by: ...,NaN,nc,35.7636,-78.7443
4,7074612539,https://lincoln.craigslist.org/ctd/d/gretna-20...,lincoln,https://lincoln.craigslist.org,41988,2016.0,chevrolet,silverado k2500hd,NaN,NaN,gas,NaN,clean,automatic,1GC1KWE85GF266427,NaN,NaN,NaN,NaN,https://images.craigslist.org/00S0S_8msT7RQquO...,"Shop Indoors, Heated Showroom!!!www.gretnaauto...",NaN,ne,41.1345,-96.2458

It seems the data has some NULL values for some columns, let's view the info for our dataframe

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            539759 non-null  int64
 1   url           539759 non-null  object
 2   region        539759 non-null  object
 3   region_url    539759 non-null  object
 4   price         539759 non-null  int64
 5   year          538772 non-null  float64
 6   manufacturer  516175 non-null  object
 7   model         531746 non-null  object
 8   condition     303707 non-null  object
 9   cylinders     321264 non-null  object
 10  fuel          536366 non-null  object
 11  odometer      440783 non-null  float64
 12  title_status  536819 non-null  object
 13  transmission  535786 non-null  object
 14  vin           315349 non-null  object
 15  drive         383987 non-null  object
 16  size          168550 non-null  object
 17  type          392290 non-null  object
 18  paint_color   365520 non-null  object
 19  image_url     539740 non-null  object
 20  description   539738 non-null  object
 21  county        0 non-null       float64
 22  state         539759 non-null  object
 23  lat           530785 non-null  float64
 24  long          530785 non-null  float64
dtypes: float64(5), int64(2), object(18)
memory usage: 103.0+ MB

#### We would start by dropping some of the columns. For example, columns that contain too many NULL values to be useful or columns that are hard to make use of for this analysis

In [5]:
#columns contain too many NULL values
df.drop(['condition','cylinders', 'vin', 'drive', 'size', 'type', 'paint_color', 'county'], axis = 1, inplace = True)
#columns that are hard to make use of
df.drop(['id', 'url', 'region', 'region_url', 'image_url', 'description', 'lat', 'long'], axis = 1, inplace = True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539759 entries, 0 to 539758
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         539759 non-null  int64
 1   year          538772 non-null  float64
 2   manufacturer  516175 non-null  object
 3   model         531746 non-null  object
 4   fuel          536366 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  536819 non-null  object
 7   transmission  535786 non-null  object
 8   state         539759 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 37.1+ MB

#### We still have some NULL values in some of the columns left - note that column "odometer" still contains many NULL values, because I think it is an important factor in predicting used car prices, and because we have enough number of examples to work with, we would drop the rows where "odometer" is NULL.

In [7]:
df.drop(df.index[df['odometer'].isna()], inplace = True)
df.reset_index(drop = True, inplace = True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440783 entries, 0 to 440782
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         440783 non-null  int64
 1   year          439815 non-null  float64
 2   manufacturer  425660 non-null  object
 3   model         436331 non-null  object
 4   fuel          437477 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  437924 non-null  object
 7   transmission  437038 non-null  object
 8   state         440783 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.3+ MB

#### Now we still have some missing values but they are a small percentage of the overall number of records. We can impute the missing values from existing data.

In [9]:
#For categorical variables, we would impute missing values based on existing class distribution by random sampling with replacement
def CategoricalImputer(df, column_names):
    for column in column_names:
        replacements = np.random.choice(a = df.loc[df[column].notna(), column], size = df[column].isna().sum(), replace = True)
        replacements = pd.Series(replacements, index = df.index[df[column].isna()])
        df[column].fillna(replacements, inplace = True)

In [10]:
CategoricalImputer(df, ['year', 'manufacturer', 'model', 'fuel', 'title_status', 'transmission'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440783 entries, 0 to 440782
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         440783 non-null  int64
 1   year          440783 non-null  float64
 2   manufacturer  440783 non-null  object
 3   model         440783 non-null  object
 4   fuel          440783 non-null  object
 5   odometer      440783 non-null  float64
 6   title_status  440783 non-null  object
 7   transmission  440783 non-null  object
 8   state         440783 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 30.3+ MB

#### Great, we do not have NULL values anymore, now we would like to perform some data validity checking

**Price:**

In [12]:
print(f"The max price of all used cars is {df['price'].max()}, the min price of all used cars is {df['price'].min()}.")

The max price of all used cars is 4198286601, the min price of all used cars is 0.

The above does not make lots of sense, let's only keep the used cars with prices between 1000 and 200000

In [13]:
drop_idx = df.index[(df['price'] < 1000) | (df['price'] > 200000)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

In [14]:
print(f"The max price of all used cars is now {df['price'].max()}, the min price of all used cars is now {df['price'].min()}.")

The max price of all used cars is now 200000, the min price of all used cars is now 1000.

**Year:**

In [15]:
df['year'].value_counts()

2017.0    32510
2016.0    30974
2015.0    30278
2013.0    29285
2014.0    28779
          ...
1928.0        2
1942.0        2
1922.0        1
1914.0        1
0.0           1
Name: year, Length: 101, dtype: int64

In [16]:
df['year'].max() #doesn't make sense becaue the data is from Jan 2020

2021.0

Let's only work with used cars with year between 2000 and 2019. 
Some of the used cars are really old such as the one from 1914. Although this is possible, those cars have few instances to be trained upon thus prediction accuracy is questionable.
The dataset is from Jan 2020 so we would only include models up until year 2019 (year 2020 model should be out already but again, there are few instances or even bad data as there are some used cars have model year 2021)

In [17]:
drop_idx = df.index[(df['year'] < 2000) | (df['year'] > 2019)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

**Manufacturer:**

In [18]:
df['manufacturer'].value_counts()

ford               70467
chevrolet          55122
toyota             30351
nissan             21635
ram                19680
honda              19617
jeep               18603
gmc                17493
dodge              12950
bmw                11493
hyundai             9782
subaru              9571
mercedes-benz       8807
volkswagen          8464
kia                 7473
chrysler            6313
cadillac            5833
buick               5478
lexus               5086
audi                4910
mazda               4796
infiniti            3276
acura               3101
lincoln             2475
volvo               2461
pontiac             2235
mini                2039
mitsubishi          1944
rover               1597
saturn              1198
mercury             1168
jaguar               805
fiat                 790
tesla                202
harley-davidson      159
alfa-romeo            41
ferrari               37
aston-martin          25
land rover            16
porche                 8
hennessey              1
Name: manufacturer, dtype: int64

In [19]:
#Manufacturer data looks good but again to ensure there is enough data for training,
#we would like to drop instances where count < 1000,
#knowing that we would not be able to predict instances with those manufacturers
counts = df['manufacturer'].value_counts()
values_to_drop = counts.index[counts < 1000]
drop_idx = df.index[df['manufacturer'].isin(values_to_drop)]
df.drop(drop_idx, inplace = True)
df.reset_index(drop = True, inplace = True)

**Model column turns out to be a special one...**

In [20]:
df['model'].value_counts()

f-150                     8154
silverado 1500            5253
1500                      4672
silverado                 3535
wrangler                  2784
                          ...
forester prem                1
1500 tradesmen               1
f150 xlt extended cab        1
ls320                        1
cabrio convertible gls       1
Name: model, Length: 25502, dtype: int64

#### Noticed the issue here? Because "Model" field might be a free text field, seller can put different variations of the same car model. For example, "silverado 1500", "1500" and "silverado" might represent the same car model. If we use the values as they are now, they would be treated as different car models, which could impact our model performance. To mitigate this issue, we would take the following steps:
1. Transform all "Model" data into lower case for better matching.
2. Strip out the words of individual car model for each record
3. Find out the top most-frequent 150 words based on weighted frequency. (weights are assigned based on word sequence in a record (ex. "silverado 1500" - "silverado" would have more weights than "1500" because the further the word is to the front, the more likely the word represents the actual car model))(Here we are assuming a car model is only one word instead of a combination of words)
4. Go through the 150 words, clean them up and end up with the most common derived car models.
5. Map records to the most common derived "car models" and mark "N/A" if cannot be mapped.

In [21]:
#Transform car models to lower case
df['model'] = df['model'].str.lower()

In [22]:
weighted_words = []
for item in df['model']:
    #split into words
    words = item.split()
    #create weighted words list
    for word, weight in zip(words, (np.arange(len(words)) + 1)[::-1]):
        weighted_words += [word] * weight

In [23]:
#Find most frequent "car models"
top_models = pd.Series(weighted_words).value_counts().head(150)

In [24]:
#Now we would go through all the "top models" and clean the Series up
pd.set_option('display.max_rows', None)
top_models

1500           45128
silverado      43518
sport          28958
cab            27776
sierra         23778
super          22725
f150           22240
crew           21946
grand          21110
4x4            19378
2500           16717
f-150          15425
se             14398
lt             14378
duty           13807
sedan          13611
wrangler       13190
4d             10930
tacoma         10753
xlt            10313
f-250          10250
escape         10159
cherokee        9871
awd             9721
coupe           9668
s               9538
civic           9425
f250            9332
tundra          9166
limited         9085
f-350           9051
utility         8928
accord          8824
mustang         8760
3500            8403
supercrew       7968
slt             7868
equinox         7835
rogue           7485
altima          7463
camry           7418
lx              7082
focus           7038
4dr             6842
explorer        6513
fusion          6404
2500hd          6234
camaro          6173
town            6143
express         6050
f350            6009
yukon           6008
4wd             5915
premium         5629
sv              5553
series          5453
corolla         5435
frontier        5345
ls              5277
malibu          5255
cruze           5240
jetta           5238
edge            4984
benz            4924
outback         4903
tahoe           4851
double          4834
gas             4800
xl              4719
unlimited       4598
ex              4479
2d              4414
caravan         4382
lariat          4367
impala          4339
elantra         4327
pickup          4265
sentra          4189
cr-v            4162
3               4130
sonata          4093
santa           4070
transit         4023
cargo           3988
rav4            3912
gt              3892
le              3877
forester        3784
sel             3749
cooper          3680
colorado        3629
journey         3600
hd              3535
challenger      3500
odyssey         3487
suburban        3446
sr5             3430
porsche         3422
4runner         3386
terrain         3363
prius           3329
titan           3323
sorento         3314
ltz             3211
convertible     3170
expedition      3156
passat          3154
impreza         3138
350             3099
encore          3088
touring         3087
traverse        3077
fwd             3059
laramie         3036
hatchback       3017
ex-l            3008
acadia          3004
sienna          2994
pilot           2951
sle             2918
lifted          2865
sxt             2763
versa           2755
quad            2743
highlander      2697
2.5             2690
scion           2679
fe              2675
van             2671
diesel          2630
optima          2617
ranger          2591
x5              2591
300             2586
charger         2580
sl              2568
taurus          2536
tucson          2512
escalade        2502
compass         2460
mx-5            2447
rx              2436
liberty         2412
denali          2399
2.0t            2387
murano          2377
4               2372
2.5i            2368
patriot         2348
sportage        2329
dtype: int64

In [25]:
top_models.drop(['sport', 'cab', 'super', '4x4', 'se', 'lt', 'sedan',  '4d', 'xlt', 'lifted', 
                 'awd', 's',  'slt', 'lx', '4dr', '4wd', 'duty', 'limited', 'gas', 'unlimited',
                'premium', 'sv',  'ls',  'xl',  'ex', 'utility', 'series', 'double', 'cargo', 
                '2d', 'pickup', '3', 'le', 'sel', 'gt', 'hd', 'ltz', 'fwd', 'ex-l', 'sle', 'hatchback',
                 'sxt', '2.5', 'fe', '300', 'quad', 'diesel', 'sl', 'van', 'rx', '4', '2.0t', '2.5i'], inplace = True)

In [26]:
pd.reset_option('display.max_rows')

In [27]:
top_models = pd.Series(top_models.index)

In [28]:
top_models

0          1500
1     silverado
2        sierra
3          f150
4          crew
        ...
92      liberty
93       denali
94       murano
95      patriot
96     sportage
Length: 97, dtype: object

The list might not be perfect but it is as good as we can get, now finally we would like to map every record to one of the top_models.

In [29]:
#First, we would like to assign "N/A" to records that do not have words in top_models
df.loc[~df['model'].str.contains('|'.join(top_models)), ['model']] = 'N/A'

In [30]:
#map to top_models
from tqdm import tqdm
for item in tqdm(top_models):
    df['model'] = df['model'].apply(lambda x: item if item in x else x)

100%|██████████| 97/97 [00:04<00:00, 20.48it/s]

In [31]:
print(f"We successfuly mapped {(df['model'] != 'N/A').sum()} records for car models out of total of {len(df)} records.")

We successfuly mapped 269272 records for car models out of total of 375418 records.

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375418 entries, 0 to 375417
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         375418 non-null  int64
 1   year          375418 non-null  float64
 2   manufacturer  375418 non-null  object
 3   model         375418 non-null  object
 4   fuel          375418 non-null  object
 5   odometer      375418 non-null  float64
 6   title_status  375418 non-null  object
 7   transmission  375418 non-null  object
 8   state         375418 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 25.8+ MB

**Odometer:**

In [33]:
print(f"The odometer ranges from {df['odometer'].min()} to {df['odometer'].max()}.")

The odometer ranges from 0.0 to 64809218.0.

Odometer values between 10 and 250000 miles would be a reasonable range. So we would drop odometer values < 10 and > 250000

In [34]:
df.drop(df.index[(df['odometer'] < 10) | (df['odometer'] > 250000)], inplace = True)
df.reset_index(drop = True, inplace = True)

In [35]:
print(f"The odometer now ranges from {df['odometer'].min()} to {df['odometer'].max()}.")

The odometer now ranges from 10.0 to 250000.0.

**Title_status:**

In [36]:
df['title_status'].value_counts()

clean         352865
rebuilt         9610
salvage         3698
lien            2408
missing           69
parts only        34
Name: title_status, dtype: int64

We would like to drop "missing" and "parts only" cause these two title status contain too few entries

In [37]:
df.drop(df.index[df['title_status'].isin(['missing', 'parts only'])], inplace = True)
df.reset_index(drop = True, inplace = True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368581 entries, 0 to 368580
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   price         368581 non-null  int64
 1   year          368581 non-null  float64
 2   manufacturer  368581 non-null  object
 3   model         368581 non-null  object
 4   fuel          368581 non-null  object
 5   odometer      368581 non-null  float64
 6   title_status  368581 non-null  object
 7   transmission  368581 non-null  object
 8   state         368581 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 25.3+ MB

#### Now all the data pre-processing is complete, we would save it as a new csv file for Part II of this analysis to use directly

In [39]:
df.to_csv('Data/vehicles_pre-processed.csv', index = False)